<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load staticfiles %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{% static 'fitchat.ico' %}" >
<div class="row">
	<div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
		<h3>Вы вошли как {{ request.session.login }} </h3>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
		
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<a href="/deauth">
			<button class="btn btn-primary input-lg btn-block">Выйти</button>
		</a>
	</div>
</div>

<div class="row content">
	<div class="col-lg-2">
		{% if request.session.role == 'admin' %}
		<ul class="trainers">
			<li class="trainer current-trainer" data-trainer-id="-1">Все пользователи</li>
			<li class="trainer " data-trainer-id="0">Без тренера</li>
			{% for trainer in trainers %}
			<li class="trainer" data-trainer-id="{{ trainer.id }}">{{ trainer.first_name }} {{ trainer.last_name }}
				<div class="trainer-mng-buttons">
					<div class="trainer-status {{ trainer.active|yesno:'active,' }}"></div>
					<div class="trainer-remove">×</div>
				</div>
			</li>
			{% endfor %}
			<li> <button  class="btn  btn-block btn-primary add-trainer-btn">Добавить тренера</button> </li>
		</ul>
		{% endif %}	
	</div>
	<div class="col-lg-6">
		<div class="chat">
			<div class="messages messages-default">

				<span class="select-dialog">
					Выберите диалог
				</span>
			</div>
			<div class="message-field form-group">
				
				<textarea id="input-message" class="input-message form-control" style="display: block;" autofocus></textarea>

				<button class="btn input-lg btn-block btn-primary" id="send-message" disabled>Отправить</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="active-archive-btn">
			<div class="active-users-btn current-btn">Активные</div>
			<div class="archive-users-btn">Архив</div>
		</div>
		<ul class="user-list">
		</ul>
	</div>

</div>

<div class="row add-trainer">
	<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
	<div class="col-lg-8 col-md-8 col-sm-0 col-xs-0 add-trainer-form">
		<img src="/images/system/close.png" class="close">
		<form role="form"  id="add-trainer" class="form-horizontal" method="POST" action="/add-trainer/">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-8">
					<div class="form-group row">
						<input type="text" name="firstname" class="form-control" id="firstname" placeholder="Имя">
					</div>
					<div class="form-group"> 
						<input type="text" name="lastname" class="form-control" id="lastname" placeholder="Фамилия">
					</div>
					<div class="form-group">
						<input type="text" name="login" class="form-control" id="login" placeholder="Логин">
					</div>
					<div class="form-group">
						<input type="email" name="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
							<select class="form-control" id="role" name="role">
								<option value="admin">Администратор</option>
								<option value="trainer" selected>Тренер</option>
							</select>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
							<button class="btn btn-primary  btn-block">Добавить</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 add-trainer-photo">
					<div class="photo-placeholder"></div>
					<input type="hidden" name="photo_name">
					<input type="file" name="photo" id="trainer-photo" accept="image/*">
				</div>
			</div>
		</form>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
</div>

<script>

// Удельное количество костылей и говнокода зашкаливает. 
// Ответственность за психическое здоровье после прочтения этих исходников лежит исключительно на вас.
// Я предупреждал.

$(".user-list").on("click", "li", function(){
	var user_id = $(this).data("user-id");
	$(".user-info li").css("display", "none")
	$(this).find(".user-info li").css("display", "block")
	state.current_user = user_id;
	$(this).addClass("current-user").siblings().removeClass("current-user");

	setChat(user_id);
	$("#send-message").prop("disabled", false)
});

var scrollValue = {}
function setChat(user_id){
	var scroll = $(".messages").scrollTop();
	$(".select-dialog").css("display", "none");
	$(".msg").remove()
	$(".messages-default").removeClass("messages-default").addClass("messages-display");
	sms.map(function(s,i){
		if(s.receiver != user_id && s.sender != user_id) return false;
		var side = ''; // с какой стороны располагать сообщение в блоке
		if(s.receiver == user_id) side = "msg-right";
		else side = "msg-left";
		var el = $(`<div class="msg ${side}"></div>`);
		el.append(
			$(`<div class="msg-text">${getMsgData(s)}<span class="msg-time">${truncTime(s.timestamp)}</span></div>`)
			)
		$(".messages").append(el)
	});
	if(scrollValue[state.current_user] == undefined){
		$(".messages").scrollTop(Number.MAX_SAFE_INTEGER);
	} else {
		var offset = $(".messages").scrollTop();
		if(offset - 40 < scrollValue[state.current_user]){ // если чат примерно в самом низу -- сдвигаем. Иначе не трогаем.
			$(".messages").scrollTop(Number.MAX_SAFE_INTEGER);
		} else {
			$(".messages").scrollTop(scrollValue[state.current_user]);	
		}
	}
}

function getMsgData(s){
	if(s.msg_type == 'text') return s.text;
	if(s.msg_type == 'photo') return `<img class="msg-photo" src="/images/photo/${s.text}">`;
}

var scrollTimeout;
$(".messages").on("scroll", function(){
	var scroll = $(this).scrollTop();
	scrollValue[state.current_user] = scroll;

	state.block_on(); // если мы прокручиваем чат -- обновление состояния блокируется чтобы при прокрутке и перерендеринге прокрутка чата не тормозила.
	if(scrollTimeout){
		clearTimeout(scrollTimeout);
	}
	scrollTimeout = setTimeout(function(){
		state.block_off();
	}, 100)
})

$(".user-list").on("scroll", function(e){
	var user_list_scroll = $(this).scrollTop();
	state.user_list_scroll = user_list_scroll;
	state.block_on(); 
})

function truncTime(timestamp){
	var msg_time = moment(timestamp);
	return msg_time.format("HH:mm");
}


var state = { 
	current_user: 0,
	current_admin: 12345,
	user_list_scroll: 0,
	block: false, // указывает можно ли приложению в данный момент обновляться
	current_users: "active",
	current_role: '{{request.session.role}}',
	current_trainer: '{{request.session.trainer_id}}',
	block_on: function(){
		this.block = true;
	},
	block_off: function(){
		// разблокировка происходит не сразу, а через секунду
		setTimeout(function(){
			state.block = false;
		}, 1000)
	}
}


// When we're using HTTPS, use WSS too.
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);

chatsock.onmessage = function(message) {
	var msg = JSON.parse(message.data)
	msg.map(function(data, i){
		if(data.type == "sms"){
			// setSms(data.data);
			sms = data.data;
			if(state.current_user != 0){
				setChat(state.current_user);
				$(`li[data-user-id="${state.current_user}"]`).trigger("click")
			}
		}
		if(data.type == "userlist"){
			setUserList(data.data)
			if(state.current_user != 0){
				setChat(state.current_user);
				$(`li[data-user-id="${state.current_user}"]`).trigger("click")
			}
		}
		if(data.type == "trainers"){
			setTrainers(data.data);
		}
	})
};

chatsock.onclose = function(){
	chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
}

function setUserList(users){
	$(".user-list").empty()
	var userList = $(".user-list");
	users.map(function(item, i){
		if(state.current_role === 'trainer' && item.trainer_id != state.current_trainer)
			return false
		var el = $(`<li class="user" 
						data-user-id="${item.user_id}" 
						data-trainer-id="${item.trainer_id}" 
						data-archive="${item.archive}"
						data-day="${item.day}"></li>`);
		el.append(
			$("<div></div>").append(
				$("<div></div>").addClass("user-title").append(
					$("<span></span>").addClass("user-name").text(`${item.first_name} ${item.last_name}, `),
					$("<span></span>").addClass("user-age").text(`${age_format(item.age)}`),
					$("<span></span>").addClass("user-day").text(getDay(item.day)),
					$("<a href='#'></a>").addClass("change-user-state").text(getChangeUserState(item.archive))
				),
				$("<div></div>").addClass("last-activity").append(
					$("<span></span>").text(`последняя активность ${moment(item.last_activity).fromNow()}`)
				),
			),
			$("<div></div>").addClass("user-info").append(
				displayUserInfo(item)
				)
		)
		userList.prepend(el);
	})
	$(".current-trainer").trigger("click");
	if(state.current_users == 'active'){
		$(".active-users-btn").trigger("click");
	} else {
		$(".archive-users-btn").trigger("click");
	}
}


function displayUserInfo(item){
	for(key in item){
		if(item[key] == null){
			item[key] = 'нет данных'
		}
	}

	var user_ul = $("<ul></ul>").append(
					$("<li></li>").append(getUserListItem("Пол", maleFemale(item.sex))),
					$("<li></li>").append(getUserListItem("Тренер", getTrainer(item.trainer_id))),
					$("<li></li>").append(getUserListItem("Город", item.city)),
					$("<li></li>").append(getUserListItem("Работа", item.job)),
					$("<li></li>").append(getUserListItem("Рост", item.height)),
					$("<li></li>").append(getUserListItem("Вес", item.weight)),
					$("<li></li>").append(getUserListItem("Желаемый вес", item.target_weight)),
					$("<li></li>").append(getUserListItem("Какие диеты и методики пробовал?", item.methodologies)),
					$("<li></li>").append(getUserListItem("Что было самое сложное?", item.most_difficult)),
					$("<li></li>").append(getUserListItem("Был ли результат?", item.was_result)),
					$("<li></li>").append(getUserListItem("Почему вес вернулся?", item.why_fat_again)),
					$("<li></li>").append(getUserListItem("Когда Вы начали набирать вес? Какие были для этого причины?", item.start_fat)),
					$("<li></li>").append(getUserListItem("Как Вы думаете, какова причина Вашего лишнего веса на данный момент?", item.why_fat_now)),
					$("<li></li>").append(getUserListItem("Принимаете ли Вы какие-нибудь гормональные препараты?", item.hormonals)),
					$("<li></li>").append(getUserListItem("Когда последний раз вы сдавали анализы? Какие?", item.analyzes)),
					$("<li></li>").append(getUserListItem("Какие продукты Вы не едите?", item.not_eat)),
					$("<li></li>").append(getUserListItem("Есть ли у вас аллергии на какие-нибудь продукты питания, непереносимости, запреты врачей?", item.allergy)),
					$("<li></li>").append(getUserListItem("Есть ли в Вашей семье люди с лишним весом? Кто это?", item.fats_in_family)),
					$("<li></li>").append(getUserListItem("Есть ли у Ваших детей лишний вес?", item.fat_children)),
					$("<li></li>").append(getUserListItem("Как близкие отнесутся к Вашей попытке похудеть?", item.relatives_attitude)),
					$("<li></li>").append(getUserListItem("Как Вы сами считаете -- в течение дня Вы ходите:", item.amount_of_walking)),
					$("<li></li>").append(getUserListItem("Есть ли у вас травмы или противопоказания, мешающие ходить больше?", item.any_injuries)),
					$("<li></li>").append(getUserListItem("Какая у Вас мотивация к похудению? Зачем Вам худеть?", item.motivation)),
					);
	return user_ul;
}

function getUserListItem(question, answer){
	var q = $("<span></span>").addClass("user-question").text(question);
	if(typeof(answer) == 'string' || typeof(answer) == 'number'){
		var ans = $("<p></p>").addClass("user-answer").text(answer);
	} else {
		var ans = $("<div></div>").append(answer);
	}
	return [q, ans];
}

function maleFemale(sex){
	if(sex == 'male') return 'Мужской';
	return 'Женский';
}

function getTrainer(trainer_id){
	var trainer_list = $("<select></select>").addClass("change-trainer").append(
		$("<option></option>").text("Не назначен")
		)
	trainer.map(function(item, i){
		var selected = trainer_id == i ? "selected" : "";
		trainer_list.append(
			$(`<option value="${i}" ${selected}></option>`).text(`${item.first_name} ${item.last_name}`)
			)	
	})
	return trainer_list;
	if(trainer_id == 0) return "Не назначен";
	return `${trainer[trainer_id].first_name} ${trainer[trainer_id].last_name}`;
}

function getDay(n){
	if(n > 0){
		return ` (${n}-й день)`
	} else {
		return ''
	}
}

function getChangeUserState(s){
	if(s == false){
		return "В архив"
	} else {

		return "Из архива"
	}
}

$(".user-list").on("focus", ".change-trainer", function(){
	state.block_on()
})

$(".user-list").on("blur", ".change-trainer", function(){
	state.block_off()
})

$(".user-list").on("change", ".change-trainer", function(){
	var message = {
		type: 'change_trainer',
		user_id: state.current_user,
		trainer_id: $(this).val()
	}
	if(chatsock.readyState > 1){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	chatsock.send(JSON.stringify(message));
})

var trainer = [];
function setTrainers(trainers){
	trainers.map(function(item, i){
		id = item.id
		trainer[id] = {}
		trainer[id].first_name = item.first_name
		trainer[id].last_name = item.last_name
		trainer[id].photo = item.photo

	})
}

$(".trainer-status").on("click", function(){
	var trainer_id = $(this).parents(".trainer").data("trainer-id");
	var trainer_status;
	if($(this).hasClass("active")){
		$(this).removeClass("active");
		trainer_status = false;
	} else {
		$(this).addClass("active");
		trainer_status = true;
	}
	var message = {
		type: 'change_trainer_status',
		trainer_id: trainer_id,
		trainer_status: trainer_status
	}
	if(chatsock.readyState > 1){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	chatsock.send(JSON.stringify(message));
})

$(".trainer-remove").on("click", function(){
	var trainer_id = $(this).parents(".trainer").data("trainer-id");
	var trainer_status;

	var do_remove = confirm("Удалить тренера?")
	if(do_remove == false) return false;
	$(this).parents(".trainer").remove()	

	var message = {
		type: 'remove_trainer',
		trainer_id: trainer_id
	}
	if(chatsock.readyState > 1){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	chatsock.send(JSON.stringify(message));
})

var sms = [];

$("#chatform").on("submit", function(event) {
    var message = {
        handle: $('#handle').val(),
        message: $('#message').val(),
    }
    chatsock.send(JSON.stringify(message));
    $("#message").val('').focus();
    return false;
});

setInterval(function(){
	// CONNECTING	0	Соединение ещё не открыто.
	// OPEN			1	Соединение открыто и готово к обмену данными.
	// CLOSING		2	Соединение в процессе закрытия.
	// CLOSED		3	Соединение закрыто или не может открыться.
	if(chatsock.readyState > 1){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	if(chatsock.readyState == 1){
		if(!state.block){
			chatsock.send(JSON.stringify({'type':'ping'}))
		}
	}
}, 2500)

$("#send-message").on("click", function(){
	var text = $("#input-message").val();
	var message = {
		type: 'sms',
		sender: state.current_admin,
		receiver: state.current_user,
	    text: text
	}
	if(chatsock.readyState == 3){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	
	chatsock.send(JSON.stringify(message));
	$(".messages").scrollTop(Number.MAX_SAFE_INTEGER);
	$("#input-message").val('');
});

$(".trainer").on("click", function(){
	$(this).addClass("current-trainer").siblings().removeClass("current-trainer");

	var trainer_id = $(this).data("trainer-id");
	if(trainer_id == 0){
		$(".user").fadeOut(0);
		$(".user[data-trainer-id=0]").fadeIn(0);
	}else if(trainer_id == -1){
		$(".user").fadeIn(0);
	} else {
		$(".user-list li").fadeOut(0);
		$(`.user-list li[data-trainer-id="${trainer_id}"]`).fadeIn(0);
	}
	$(".user-list").scrollTop(state.user_list_scroll)
})


$("div").on("mouseover", ".user-list", function(e){
	state.block_on();
})

$("div").on("mousemove", ".user-list", function(e){
	state.block_on();
})

$("div").on("mouseout", ".user-list", function(e){
	// state.block_off();
})


function age_format(age){
	if(age == null) return '';
	var last_number = age - Math.floor(age / 10) * 10;
	switch(last_number){
		case 0:
		case 5:
		case 6:
		case 7:
		case 8:
		case 9:
			return `${age} лет`;
			break;
		case 1:
			return `${age} год`;
			break;
		case 2:
		case 3:
		case 4:
			return `${age} года`;
			break;
	}
}



//_____________ обработка формы добавления тренера ________________________//

$(".add-trainer-btn").on("click", function(){
	$(".add-trainer").fadeIn(200);
});

$("img.close").on("click", function(e){
	$(".add-trainer").fadeOut(200);
});

$(".photo-placeholder").on("click", function(){
	$("#trainer-photo").trigger("click");
});

var data = new FormData();
$("#trainer-photo").on("change", function(){
	$.each(this.files, function(key, value){
		data.append('photo', value);
	});
	var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
	data.append('csrfmiddlewaretoken', csrf_token);
	$.ajax({
		url: '/add-trainer-photo/',
		type: 'POST',
		data: data,
		cache: false,
		dataType: 'json',
		processData: false,
		contentType: false,
		success: function(respond, textStatus, jqXHR){
			$(".photo-placeholder").css("background", "unset");
			$(".photo-placeholder").empty();
			var el = $(`<img src="/images/buffer/${respond.name}">`);
			$(".photo-placeholder").append(el);
			$("input[name=photo_name]").val(respond.name);
		},
		error: function(jqXHR, textStatus, errorThrown){
			console.log(errorThrown)
		}
	})
});

$("input[name=firstname], input[name=lastname]").on("input", function(){
	var firstname = $("input[name=firstname]").val();
	var lastname = $("input[name=lastname]").val();
	var login = `${translit(firstname)[0]}.${translit(lastname)}`;
	$("input[name=login]").val(login);
})

function translit(text) {
    return text.replace(/([а-яё])|([\s_-])|([^a-z\d])/gi,
        function(all, ch, space, words, i) {
            if (space || words) {
                return space ? '-' : '';
            }
            var code = ch.charCodeAt(0),
                index = code == 1025 || code == 1105 ? 0 :
                code > 1071 ? code - 1071 : code - 1039,
                t = ['yo', 'a', 'b', 'v', 'g', 'd', 'e', 'zh',
                    'z', 'i', 'y', 'k', 'l', 'm', 'n', 'o', 'p',
                    'r', 's', 't', 'u', 'f', 'h', 'c', 'ch', 'sh',
                    'shch', '', 'y', '', 'e', 'yu', 'ya'
                ];
            return t[index];
        });
}

$(".active-archive-btn div").on("click", function(){
	$(this).addClass("current-btn").siblings().removeClass("current-btn");
})

$(".active-users-btn").on("click", function(){
	$(".user[data-archive=false]").fadeIn(0);
	$(".user[data-archive=true]").fadeOut(0);
	state.current_users = 'active';
})

$(".archive-users-btn").on("click", function(){
	$(".user[data-archive=false]").fadeOut(0);
	$(".user[data-archive=true]").fadeIn(0);
	state.current_users = 'archive';
})

$(".user-list").on("click", ".change-user-state", function(e){
	e.preventDefault();
	var user_id = $(this).parents(".user").data("user-id");
	var user_archive = $(this).parents(".user").data("archive");
	var archive;
	if(user_archive == false){
		archive = true;
	} else {
		archive = false;
	}

	var message = {
		type: 'change_user_status',
		user_id: user_id,
		user_status: archive
	}
	if(chatsock.readyState > 1){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	chatsock.send(JSON.stringify(message));
	
})



</script>
