<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% load staticfiles %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

<div class="row">
	<div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
		<h3>Вы вошли как {{ request.session.login }}</h3>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
		
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<a href="/deauth">
			<button class="btn btn-primary input-lg btn-block">Выйти</button>
		</a>
	</div>

</div>

<div class="row content">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		{% if request.session.role == 'admin' %}
		<ul class="trainers">
			<li class="trainer current-trainer" data-trainer-id="0">Все тренеры</li>
			{% for trainer in trainers %}
			<li class="trainer" data-trainer-id="{{ trainer.id }}">{{ trainer.first_name }} {{ trainer.last_name }}</li>
			{% endfor %}
			<li> <button  class="btn  btn-block btn-primary add-trainer-btn">Добавить тренера</button> </li>
		</ul>
		{% endif %}	
	</div>
	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
		<div class="chat">
			<div class="messages messages-default">

				<span class="select-dialog">
					Выберите диалог
				</span>
			</div>
			<div class="message-field form-group">
				
				<textarea id="input-message" class="input-message form-control" style="display: block;" autofocus></textarea>

				<button class="btn input-lg btn-block btn-primary" id="send-message" disabled>Отправить</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5" >
		<ul class="user-list">
			{% for user in users %}
			
			<!-- <li data-user-id="{{ user.user_id }}">
				<div>
					<div class="user-title">
						<span class="user-name">
							{{ user.first_name }} {{ user.last_name }},
						</span>
						<span class="user-age">
							39 лет
						</span>
					</div>
					<div class="last-activity">
						<span>
							последняя активность 5 часов назад
						</span>
					</div>
				</div>
				<div class="user-info">
					<ul>


					</ul>
				</div>
			</li> -->

			{% endfor %}
<!-- 			<li>
				<div>
					<div class="user-title">
						<span class="user-name">
							Zssjcos Vnvjdf,
						</span>
						<span class="user-age">
							39 лет
						</span>
					</div>
					<div class="last-activity">
						<span>
							последняя активность 5 часов назад
						</span>
					</div>
				</div>
				<div class="user-info">

				</div>
			</li> -->
			
			

		</ul>
	</div>

</div>

<div class="row add-trainer">
	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 add-trainer-form">
		<img src="/images/system/close.png" class="close">
		<form role="form"  id="add-trainer" class="form-horizontal" method="POST" action="/add-trainer/">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-8">
					<div class="form-group row">
						<input type="text" name="firstname" class="form-control" id="firstname" placeholder="Имя">
					</div>
					<div class="form-group"> 
						<input type="text" name="lastname" class="form-control" id="lastname" placeholder="Фамилия">
					</div>
					<div class="form-group">
						<input type="text" name="login" class="form-control" id="login" placeholder="Логин">
					</div>
					<div class="form-group">
						<input type="email" name="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
							<select class="form-control" id="role" name="role">
								<option value="admin">Администратор</option>
								<option value="trainer" selected>Тренер</option>
							</select>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
							<button class="btn btn-primary  btn-block">Добавить</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 add-trainer-photo">
					<div class="photo-placeholder"></div>
					<input type="hidden" name="photo_name">
					<input type="file" name="photo" id="trainer-photo" accept="image/*">
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>
</div>



<script>
$(".user-list").on("click", "li", function(){
	var user_id = $(this).data("user-id");
	$(".user-info li").css("display", "none")
	$(this).find(".user-info li").css("display", "block")
	state.current_user = user_id;
	$(this).addClass("current-user").siblings().removeClass("current-user");
	setChat(user_id);
	$("#send-message").prop("disabled", false)
});

function setChat(user_id){
	$(".select-dialog").css("display", "none");
	$(".msg").remove()
	$(".messages-default").removeClass("messages-default").addClass("messages-display");
	sms.map(function(s,i){
		if(s.receiver != user_id && s.sender != user_id) return false;
		var side = ''; // с какой стороны располагать сообщение в блоке
		if(s.receiver == user_id) side = "msg-right";
		else side = "msg-left";
		var el = $(`<div class="msg ${side}"></div>`);
		el.append(
			$(`<div class="msg-text">${s.text}</div>`)
			)
		$(".messages").append(el)
	});
	$(".messages").scrollTop(Number.MAX_SAFE_INTEGER)
}

var state = { 
	current_user: 0,
	current_admin: 12345
}



// When we're using HTTPS, use WSS too.
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);

chatsock.onmessage = function(message) {
	var msg = JSON.parse(message.data)
	console.log(msg)
	msg.map(function(data, i){
		if(data.type == "sms"){
			// setSms(data.data);
			sms = data.data;
			if(state.current_user != 0){
				setChat(state.current_user);
				console.log(state)
				$(`li[data-user-id="${state.current_user}"]`).trigger("click")
			}
		}
		if(data.type == "userlist"){
			setUserList(data.data)
			if(state.current_user != 0){
				setChat(state.current_user);
				$(`li[data-user-id="${state.current_user}"]`).trigger("click")
			}
		}
		if(data.type == "trainers"){
			setTrainers(data.data);
		}
	})

    // var data = JSON.parse(message.data);
    // var chat = $("#chat")
    // var ele = $('<tr></tr>')

    // ele.append(
    //     $("<td></td>").text(data.timestamp)
    // )
    // ele.append(
    //     $("<td></td>").text(data.handle)
    // )
    // ele.append(
    //     $("<td></td>").text(data.message)
    // )
    
    // chat.append(ele)
};

chatsock.onclose = function(){
	console.log(chatsock)
	chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
}

function setUserList(users){
	$(".user-list").empty()
	var userList = $(".user-list");
	users.map(function(item, i){

		var el = $(`<li class="user" data-user-id="${item.user_id}" data-trainer-id="${item.trainer_id}"></li>`);
		el.append(
			$("<div></div>").append(
				$("<div></div>").addClass("user-title").append(
					$("<span></span>").addClass("user-name").text(`${item.first_name} ${item.last_name}, `),
					$("<span></span>").addClass("user-age").text(`${age_format(item.age)}`),
					$("<span></span>").addClass("user-day").text(` (${item.day}-й день)`)
				),
				$("<div></div>").addClass("last-activity").append(
					$("<span></span>").text(`последняя активность ${moment(item.last_activity).fromNow()}`)
				),
			),
			$("<div></div>").addClass("user-info").append(
				displayUserInfo(item)
				)
			
		)
		userList.prepend(el)
	})
}

function displayUserInfo(item){
	for(key in item){
		if(item[key] == null){
			item[key] = 'нет данных'
		}
	}
	var user_ul = $("<ul></ul>").append(
					$("<li></li>").addClass("user-info-item").text(`Пол: ${maleFemale(item.sex)}`),
					$("<li></li>").addClass("user-info-item").text(`Тренер: ${trainer[item.trainer_id].first_name} ${trainer[item.trainer_id].last_name} `),
					$("<li></li>").addClass("user-info-item").text(`Город: ${item.city}`),
					$("<li></li>").addClass("user-info-item").text(`Работа: ${item.job}`),
					$("<li></li>").addClass("user-info-item").text(`Рост: ${item.height}`),
					$("<li></li>").addClass("user-info-item").text(`Вес: ${item.weight}`),
					$("<li></li>").addClass("user-info-item").text(`Желаемый вес: ${item.target_weight}`),
					$("<li></li>").addClass("user-info-item").text(`Какие диеты и методики пробовал: ${item.methodologies}`),
					$("<li></li>").addClass("user-info-item").text(`Что было самое сложное: ${item.most_difficult}`),
					$("<li></li>").addClass("user-info-item").text(`Был ли результат: ${item.was_result}`),
					$("<li></li>").addClass("user-info-item").text(`Почему вес вернулся: ${item.why_fat_again}`),
					);
	return user_ul
}

function maleFemale(sex){
	if(sex == 'male') return 'Мужской';
	return 'Женский';
}

var trainer = [];
function setTrainers(trainers){
	trainers.map(function(item, i){
		id = item.id
		trainer[id] = {}
		trainer[id].first_name = item.first_name
		trainer[id].last_name = item.last_name
		trainer[id].photo = item.photo

	})
	console.log(trainer)
}

var sms = [];
// function setSms(data){
// 	console.log(data)
// 	data.map(function(item, i){
// 		// console.log(item)
// 	});
// }


$("#chatform").on("submit", function(event) {
    var message = {
        handle: $('#handle').val(),
        message: $('#message').val(),
    }
    chatsock.send(JSON.stringify(message));
    $("#message").val('').focus();
    return false;
});

setInterval(function(){
	if(chatsock.readyState != 1){

		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
		chatsock.send(JSON.stringify({}))
		
	}
}, 1000)

$("#send-message").on("click", function(){
	var text = $("#input-message").val();
	console.log(state.current_user)
	var message = {
		type: 'sms',
		sender: state.current_admin,
		receiver: state.current_user,
	    text: text
	}
	if(chatsock.readyState == 3){
		chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "" + window.location.pathname);
	}
	
	chatsock.send(JSON.stringify(message));
});

$(".trainer").on("click", function(){
	$(this).addClass("current-trainer").siblings().removeClass("current-trainer");
	var trainer_id = $(this).data("trainer-id");
	if(trainer_id == 0){
		$(".user").css("display", "block");
		return true;
	}
	$(".user-list li").css("display", "none");
	$(`.user-list li[data-trainer-id=${trainer_id}]`).css("display", "block");
})


function age_format(age){
	if(age == null) return '';
	var last_number = age - Math.floor(age / 10) * 10;
	switch(last_number){
		case 0:
		case 5:
		case 6:
		case 7:
		case 8:
		case 9:
			return `${age} лет`;
			break;
		case 1:
			return `${age} год`;
			break;
		case 2:
		case 3:
		case 4:
			return `${age} года`;
			break;
	}
}


//_______ messenger




function add_message(text){
	
}


//_____________ обработка формы добавления тренера ________________________//

$(".add-trainer-btn").on("click", function(){
	$(".add-trainer").fadeIn(200);
});

$("img.close").on("click", function(e){
	$(".add-trainer").fadeOut(200);
});

$(".photo-placeholder").on("click", function(){
	$("#trainer-photo").trigger("click");
});

var data = new FormData();
$("#trainer-photo").on("change", function(){
	$.each(this.files, function(key, value){
		console.log(value)
		data.append('photo', value);
	});
	var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
	data.append('csrfmiddlewaretoken', csrf_token);
	$.ajax({
		url: '/add-trainer-photo/',
		type: 'POST',
		data: data,
		cache: false,
		dataType: 'json',
		processData: false,
		contentType: false,
		success: function(respond, textStatus, jqXHR){
			$(".photo-placeholder").css("background", "unset");
			$(".photo-placeholder").empty();
			var el = $(`<img src="/images/buffer/${respond.name}">`);
			$(".photo-placeholder").append(el);
			$("input[name=photo_name]").val(respond.name);
		},
		error: function(jqXHR, textStatus, errorThrown){
			console.log(errorThrown)
		}
	})
});

$("input[name=firstname], input[name=lastname]").on("input", function(){
	var firstname = $("input[name=firstname]").val();
	var lastname = $("input[name=lastname]").val();
	var login = `${translit(firstname)[0]}.${translit(lastname)}`;
	$("input[name=login]").val(login);
})

function translit(text) {
    return text.replace(/([а-яё])|([\s_-])|([^a-z\d])/gi,
        function(all, ch, space, words, i) {
            if (space || words) {
                return space ? '-' : '';
            }
            var code = ch.charCodeAt(0),
                index = code == 1025 || code == 1105 ? 0 :
                code > 1071 ? code - 1071 : code - 1039,
                t = ['yo', 'a', 'b', 'v', 'g', 'd', 'e', 'zh',
                    'z', 'i', 'y', 'k', 'l', 'm', 'n', 'o', 'p',
                    'r', 's', 't', 'u', 'f', 'h', 'c', 'ch', 'sh',
                    'shch', '', 'y', '', 'e', 'yu', 'ya'
                ];
            return t[index];
        });
}



</script>
